---
layout: default
title: タグ一覧2
permalink: /tags2/
---



{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% assign vids = tag[1] | sort %}

{% if vids != empty %}

{% assign tagid = tag[0] | url_escape | downcase %}

<input id="tags2-check-{{tagid}}" class="tags2-check" type="checkbox">
<label class="tags2-label" for="tags2-check-{{tagid}}" id="tags2-{{tagid}}">{{tag[0]}}</label>
<div class="tags2-content">
    <ul>
        {% for p in vids %}
        <li>
            <span class="entry-date">
                <time datetime="{{ p.date | date_to_xmlschema }}" itemprop="datePublished">{{ p.date | date: "%Y-%m-%d" }}</time>
            </span>
            <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

{% endfor %}
